.gallery1{
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    &:hover {
        cursor: pointer;
    }
}
.card__img {
    width: 280px;
    height: 398px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.movie-name {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    text-align: start;
}
.movie-spesification {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FF6B08;
    position: relative;
    display: flex;
}

.movie-release {
    margin-left: 6px;
}
.movie-release::before {
    content: '';
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 3px;
    left: 78px;
    background-color: #FF6B08;
}
.movie-rating {
    margin-left: 10px;
    width: 36px;
    height: 16px;
    background: #FF6B01;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;   
    align-items: center;
    justify-content: center;
}