.modal-overlay {
    position: fixed;
    background-color: rgba(47, 48, 58, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-inform-movie {
    width: 880px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px 30px 40px 30px;
    display: flex;
    position: absolute;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal-btn-close {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    
    border: none;
    background-color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 750ms ease;
    &:hover {
        background-color: #8C8C8C;
        
    }
}
.inform-block {
    margin-left: 30px;
}
.movie-inform {
    margin-top: 20px;
    flex-direction: column;
}
.inform-item {
   display: flex;
  &:not(:last-child) {
      margin-bottom: 10px;
  }
}
.item-name {
    width: 70px;
    margin-right: 85px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
    text-align: start;
}
.item-value {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}
.movie-description {
    p {
        text-align: start;
    }
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.description-text {
    margin-top: 10px;
}
.infrom-btns-wrapper {
    max-width: 295px;
    display: flex;
    justify-content: space-between;
}
.inform-btn {
    width: 140px;
    height: 45px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #FFF;
    &:hover {
        background-color: #FF6B01;
        color: #FFF;
    }
    &.library-active {
        background-color: #810114;
        color: #FFF;
        
    }
    
}
.image-wrapper {
    position: relative;
}
.trailer-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#ytplayer {
    position: absolute;
    width: 880px;
    z-index: 20;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%);
    // transform: translateY(-50%);
    top: 0;
    left: 0;
}